[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gotoh = {subdirectory = "micall/alignment", ref = "v7.7.0", git = "https://github.com/cfe-lab/MiCall.git"}
numpy = "==1.20.3"
python-levenshtein = "==0.12.0"
pandas = "==1.2.5"
requests = "==2.25.1"
pyyaml = "*"
intactness-pipeline = {ref = "f5abe2834b72458ccb1a7ce5dbf52dcf108cb518", git = "git://github.com/ramics/HIVIntact.git"}

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3.8"
