[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gotoh = {subdirectory = "micall/alignment", ref = "v7.7.0", git = "https://github.com/cfe-lab/MiCall.git"}
numpy = "==1.25.1"
python-levenshtein = "==0.12.0"
pandas = "==2.2.2"
requests = "==2.31.0"
pyyaml = "*"
cfeintact = {ref = "v1.23.0", git = "https://github.com/cfe-lab/CFEIntact"}

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3.10"
