[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gotoh = {subdirectory = "micall/alignment", ref = "v7.7.0", git = "https://github.com/cfe-lab/MiCall.git"}
numpy = "==1.18.4"
python-levenshtein = "==0.12.0"
pandas = "==1.0.5"
requests = "==2.24.0"
pyyaml = "*"

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3.8"
