# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on: push

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install minimap2
      run: |
        cd /opt
        wget https://github.com/lh3/minimap2/releases/download/v2.17/minimap2-2.17_x64-linux.tar.bz2
        tar -jxvf ./minimap2-2.17_x64-linux.tar.bz2
        echo /opt/minimap2-2.17_x64-linux >> $GITHUB_PATH
    - name: Install dependencies
      run: |
        sudo apt install -qq mafft ncbi-blast+
        pip install uv
        uv sync
    - name: Test with pytest
      run: |
        uv run pytest

  docker-build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build docker image
      run: docker build -t proviral .
    - name: Run the image
      run: docker run --rm proviral --help
